<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Transaksi</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Toggle Pendapatan / Pengeluaran -->
  <ion-segment [(ngModel)]="jenis" (ionChange)="jenisChanged($event)">
    <ion-segment-button value="Pendapatan">
      <ion-label>Pendapatan</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Pengeluaran">
      <ion-label>Pengeluaran</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <!-- Kategori -->
    <ion-item>
      <ion-label position="floating">Kategori</ion-label>
      <ion-select [(ngModel)]="kategori" placeholder="Pilih kategori">
        <ion-select-option *ngFor="let k of daftarKategori" [value]="k.nama">{{ k.nama }}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <!-- Rekening -->
    <ion-item>
      <ion-label position="floating">Pilih Rekening</ion-label>
      <ion-select [(ngModel)]="rekening" interface="popover">
        <ion-select-option *ngFor="let r of daftarRekening" [value]="r.id">
          {{ r.nama }} - Rp{{ r.saldo | number }}
        </ion-select-option>
      </ion-select>      
    </ion-item>
    
    <!-- Jumlah -->
    <ion-item>
      <ion-label position="floating">Jumlah</ion-label>
      <ion-input type="number" [(ngModel)]="nominal"></ion-input>
    </ion-item>

    <!-- Catatan -->
    <ion-item>
      <ion-label position="floating">Catatan</ion-label>
      <ion-input type="text" [(ngModel)]="deskripsi"></ion-input>
    </ion-item>

    <!-- Tanggal & Jam -->
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>{{ tanggal | date: 'fullDate' }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>{{ jam }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- Tombol Simpan -->
  <ion-button expand="block" color="primary" (click)="simpanTransaksi()">
    SIMPAN
  </ion-button>
</ion-content>
